.direnv
.*.sw?
thumb01.png
combined1.png
combined2.png
combined3.png
thumb08.png
main.pdf
*.aux
*.fdb_latexmk
*.log
*.synctex*
*~
thumb*
*.fls
holy-god-2up.pdf
holy-god.pdf
main_booklet.pdf
hg**png
result
.DS_Store
